$io-primary: #f0c755;
// $io-primary: #d8b786;
$io-red: #a7171a;
$io-grey: #f2f2f2;
$io-grey2: #c3c2c7;
$io-grey3: #e8e8f3;
$io-background: $io-grey;
.io-primary {
    color: $io-primary;
}
.io-red {
    color: $io-red;
}
.io-grey {
    color: $io-grey;
}
.io-grey2 {
    color: $io-grey2;
}
.io-grey3 {
    color: $io-grey3;
}

.io-background {
    background: $io-background;
}

.page-container {
    justify-content: center !important;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ffc800;
}

.space-no-mb * {
    margin-bottom: 0px !important;
}

// .n-tabs .n-tabs-tab {
//     min-width: 4vw;
// }
// .n-tabs .n-tabs-bar {
//     top: 2px !important;
//     height: 4px;
//     border-radius: 12px;
//     max-width: 10rem;
// }
// .n-tabs--bar-type div.n-tabs-tab {
//     background-color: $io-primary;
//     border-radius: 25px;
//     margin-right: 2vw;
//     padding: 0.8rem 2rem !important;
// }

// .n-tabs--bar-type .n-tabs-tab.n-tabs-tab--active {
//     background-color: white;
// }
// .n-message--error-type {
//     border: 1px solid $io-red;
//     box-shadow: 0px 1px 7px 0px $io-red;
// }

// .n-divider:not(.n-divider--vertical) {
//     margin-top: 12px;
//     margin-bottom: 12px;
// }
// .n-tooltip,
// .n-popover {
//     border: $io-primary solid 0.3rem;
// }
// .n-tabs .n-tab-pane {
//     justify-content: center;
//     display: flex;
// }
.n-card-header {
    overflow: auto;
}
.under-bar {
    text-decoration: underline;
}
.n-tabs-tab__label {
    font-size: 1.2rem;
}
.n-select {
    min-width: 100px;
}

#io-editor {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: start;
    max-width: 780px;
}
.io-editor-border {
    border: 0.3rem solid #c3c2c7;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    border-radius: 1rem;
    padding-top: 3%;
}

table td,
table th {
    padding: 0;
    overflow: auto;
}

body {
    width: 100%;
    height: 100%;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width: 100%;
    height: 100%;
}
.space-no-mb * {
    margin-bottom: 0px !important;
}

.n-message--error-type {
    border: 1px solid $io-red;
    box-shadow: 0px 1px 7px 0px $io-red;
}

.n-divider:not(.n-divider--vertical) {
    margin-top: 12px;
    margin-bottom: 12px;
}

.n-card > .n-card__content,
.n-card > .n-card__footer,
.n-card-header {
    overflow: auto;
}
.button-card {
    cursor: pointer;
    transition: 0.5s;
}
.button-card:hover {
    transform: scale(1.05);
}
